<div class="d-flex flex-column mb-3 m" style="text-align: center; "> <h1><%= @restaurant.name %></h1>

<h2>Address: <%=  @restaurant.address%></h2>
<h3>Category: <%= @restaurant.category %></h3>

<%= link_to 'Reviews', restaurant_reviews_path(@restaurant), class: "btn btn-success " %>

<br><br>


<%= render 'reviews/form' %>

<br>
<%= link_to 'Back to Restaurants', restaurants_path, class: "btn btn-success" %>
</div>
